@import "colors";

:host {
  display: flex;
  flex-direction: column;
}

.header {
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(40,8,96);
  font-size: 32px;
  font-weight: 600;
}
