@import "colors";

.back-button {
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  color: hsl(40,8,96);
  text-decoration: none;
  line-height: 40px;

  &__icon {
    margin-right: 16px;
  }

  &__text {
    font-family: Lexend, sans-serif;
    font-size: 20px;
  }
}

.button {
  height: 40px;
  font-family: Lexend, sans-serif;
  font-size: 20px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black;
  background-color: $samoan;
  outline: none;
  border: none;
  line-height: 40px;
  border-radius: 8px;
  text-decoration: none;
}
