@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-size: 12pt;
  background: hsl(0,0,5);
  color: hsl(0,0,90);
}
