<link rel="stylesheet" href="home.page.scss">
<div id="page">
  <div id="header">
    <div id="name">Hi {{ (auth$ | async)?.name }}</div>
  </div>
  <div id="nav-grid">

    <div class="entry">
      <a id="listenmarks" class="content" [routerLink]="'/listenmarks'">
        <span class="title">Hörzeichen</span>
      </a>
    </div>

    <div class="entry">
      <div id="?" class="content">
        <span class="title">?</span>
      </div>
    </div>

    <div class="entry">
      <div id="??" class="content">
        <span class="title">??</span>
      </div>
    </div>

    <div class="entry">
      <div id="???" class="content">
        <span class="title">???</span>
      </div>
    </div>

  </div>
</div>
