<div class="listenmarks-list__header">
  Hörzeichen
</div>

<div class="listenmarks-list__content">
  <div class="results">
    <div class="search-result" *ngFor="let album of (listemarks$ | async)">
      <img class="search-result__image" [src]="album.imageUri" />
      <div class="search-result__name">{{album.name}}</div>
      <div class="search-result__artists">
        <ng-container *ngFor="let artist of album.artists">{{artist}}</ng-container>
      </div>
      <button class="delete-button" (click)="delete($event, album.id)">
        <fa-icon [icon]="trash" size="lg"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="listenmarks-list__footer">
  <a class="back-button" [routerLink]="['../']">
    <fa-icon class="back-button__icon" [icon]="backIcon" size="lg"></fa-icon>
    <span class="back-button__text">zurück</span>
  </a>
  <div style="flex: 1"></div>
  <a class="button" [routerLink]="['search']">neu</a>
</div>
