@import "colors";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.listenmarks-list {

  &__header {
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(40,8,96);
    font-size: 32px;
    font-weight: 600;
  }

  &__content {
    flex: 1;
  }

  &__footer {
    display: flex;
    padding: 16px;
  }
}

.search-result {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  column-gap: 16px;
  padding: 8px 16px;

  &:active {
    background: hsla(40, 8, 8, .32);
  }

  &__name {
    margin-top: 4px;
  }

  &__image {
    grid-row: 1 / span 2;
    height: 64px;
    width: 64px;
    border-radius: 8px;
  }

  &__artists {
    display: flex;
    align-items: end;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
  }

  .delete-button {
    z-index: 1000;
    align-self: center;
    grid-row: 1 / span 2;
    grid-column: 3;
    background: hsl(40, 8, 72);
    border-radius: 50%;
    color: hsl(40,8,8);
    border: none;
    outline: none;
    width: 52px;
    height: 52px;

  }
}
