$primary: #6676DC;
$primary3: #5DDDD0;
$green: #84d245;
$red: #FF434F;
$white: #F9FAFC;
$black: #080C10;
$dark1: #161B1E;
$dark2: #25292C;
$dark3: #33373A;
$dark4: #424649;
$light1: #EAECEE;
$light2: #DCDEDF;
$light3: #CDCFD1;
$light4: #BFC1C3;
