@import "colors";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.listenmarks-search {

  &__search-bar {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;
    background-color: hsla(40,8,8,0.8);
    margin: 16px;
    border-radius: 16px;
    color: hsl(40, 8, 80);

    &__input {
      margin: 0 8px;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 18px;
      color: hsl(40,8,96);
      flex: 1;

      ::placeholder {
        color: hsl(40,8,64);
      }
    }
  }

  &__content {
    flex: 1;
    overflow: scroll;
  }

  &__footer {
    display: flex;
    padding: 16px;
  }
}


.recommendations {
  &__title {
    margin-left: 16px;
    font-weight: 200;
    font-size: 14px;
  }
}

.search {
  &__button {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

.search-result {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 16px;
  padding: 8px 16px;

  &:active {
    background: hsla(40, 8, 8, .32);
  }

  &__name {
    margin-top: 4px;
  }

  &__image {
    grid-row: 1 / span 2;
    height: 64px;
    width: 64px;
    border-radius: 8px;
  }

  &__artists {
    display: flex;
    align-items: end;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
  }
}
