<button class="search__button button" *ngIf="showSearchButton" (click)="search()">suche</button>

<div class="listenmarks-search__search-bar">
  <fa-icon [icon]="searchIcon" size="lg"></fa-icon>
  <input class="listenmarks-search__search-bar__input" placeholder="search" (focusin)="searchFocusIn()"
         (focusout)="searchFocusOut()" [formControl]="query" (keydown)="submitSearch($event)">
  <div close="search-bar__clear" *ngIf="query.value" (click)="clearSearch()">
    <fa-icon [icon]="crossIcon" size="lg"></fa-icon>
  </div>
</div>

<div class="listenmarks-search__content">
  <ng-container *ngIf="searching || searchResults; else recommendations" [ngTemplateOutlet]="results"></ng-container>
</div>

<div class="listenmarks-search__footer" *ngIf="!searchFocus">
  <a class="back-button" [routerLink]="['../']">
    <fa-icon class="back-button__icon" [icon]="backIcon" size="lg"></fa-icon>
    <span class="back-button__text">zurück</span>
  </a>
  <div style="flex: 1"></div>
</div>

<ng-template #recommendations>
  <div class="listenmarks-search__recommendations">
    <div class="recommendations__title">vorgeschlagen</div>
  </div>
</ng-template>

<ng-template #results>
  <ng-container>
    <div class="listenmarks-search__results">
      <div class="search-result" *ngFor="let album of searchResults?.items" (click)="selectAlbum(album)">
        <img class="search-result__image" [src]="album.images[0]?.url" />
        <div class="search-result__name">{{album.name}}</div>
        <div class="search-result__artists">
          <ng-container *ngFor="let artist of album.artists">{{artist.name}}</ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
