@import "colors";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.listenmarks-search {

  &__search-bar {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;
    background-color: hsla(40,8,8,0.8);
    margin: 16px;
    border-radius: 16px;
    color: hsl(40, 8, 80);

    &__input {
      margin: 0 8px;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 18px;
      color: hsl(40,8,96);
      flex: 1;

      ::placeholder {
        color: hsl(40,8,64);
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__footer {
    display: flex;
    padding: 16px;
  }
}
