@import "colors";

$searchbarHeight: 48px;
$searchbarMargin: 16px;
$totalSearchbarHeight: $searchbarHeight + 2 * $searchbarMargin;

$footerHeight: 71px;

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.searchbar-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom,
    hsla(40, 8, 8, .52) 0%,
    hsla(40, 8, 8, .52) $searchbarHeight,
    hsla(40, 8, 8, 0) $totalSearchbarHeight + 16px);
  padding-bottom: 16px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: $searchbarHeight;
  background-color: hsla(40, 8, 8, 0.8);
  margin: $searchbarMargin;
  border-radius: 16px;
  color: hsl(40, 8, 80);

  &__input {
    margin: 0 8px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    color: hsl(40, 8, 96);
    flex: 1;

    ::placeholder {
      color: hsl(40, 8, 64);
    }
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.spinner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .wheel {
    border: 12px solid hsl(40, 8, 48);
    border-radius: 50%;
    border-top: 12px solid $samoan;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.results, .recommendations {
  padding-top: $totalSearchbarHeight;
  padding-bottom: $footerHeight;
}

.footer {
  $extraTop: 8px;
  height: $footerHeight + $extraTop;
  padding-top: $extraTop;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top,
    hsla(40, 8, 8, .52) 0%,
    hsla(40, 8, 8, .52) $footerHeight - 16px,
    hsla(40, 8, 8, 0) $footerHeight + 16px);
}

.recommendations {
  &__title {
    margin-left: 16px;
    font-weight: 200;
    font-size: 14px;
  }
}

.search {
  &__button {
    z-index: 1000;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

.search-result {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 16px;
  padding: 8px 16px;

  &:active {
    background: hsla(40, 8, 8, .32);
  }

  &__name {
    margin-top: 4px;
  }

  &__image {
    grid-row: 1 / span 2;
    height: 64px;
    width: 64px;
    border-radius: 8px;
  }

  &__artists {
    display: flex;
    align-items: end;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
  }
}
