@import "colors";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $light1;
}

#v {
  position: absolute;
  width: 110%;
  right: 16px;
  bottom: 16px;
}

#bg {
  $gradientOpacity: 0.8;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba($samoan, $gradientOpacity) 0%, rgba($rio, $gradientOpacity) 100%);
}

#title {
  flex: 1;
  font-family: 'Lexend', sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: $rio;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#content {
  flex: 3;
  display: flex;
  flex-direction: column;
  z-index: 100;
}


