@import "colors";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 2;
  padding: 40px;
  font-weight: 500;
  color: $black;
}

#login {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;

  button {
    border: none;
    outline: none;

    width: 80%;
    max-width: 240px;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $black;
    background-color: $samoan;
    border-radius: 8px;
    user-select: none;

    &:active {
      background-color: mix($samoan, $black, 80);
    }
  }
}
