@import "colors";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 2;
  padding: 40px;
  color: $black;

  .inlineLogo {
    color: $primary;
  }
}

#login {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;

  button {
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
    color: $black;
    background-color: $green;
    border-radius: 4px;
    user-select: none;

    &:active {
      background-color: mix($green, $black, 80);
    }
  }
}
