@import "colors";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 2;
  padding: 40px;
  color: $black;

  .inlineLogo {
    color: $primary;
  }
}

#login {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;

  button {
    padding: 8px 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $black;
    background-color: $green;
    border-radius: 2px;
  }
}
